
.perm_wrapper,
.xor_wrapper,
.and_wrapper {
  position: relative;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.xor_wrapper .xor_note,
.and_wrapper .and_note {
  display: inline-block;
  width: 235px;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}

.and_wrapper .and_tool {
  position: relative;
  width: 400px;
  height: 180px;
  float: left;
}

.xor_wrapper .xor_tool {
  position: relative;
  width: 420px;
  height: 200px;
  float: left;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #A0A0A0;
}

i.fa-unlock-alt {
  color: #6F6F6F;
}

h2 > i.collapse_anchor {
  font-size: 2.1rem;
  position: relative;
  top: -4px;
}

h3 > i.collapse_anchor {
  font-size: 1.5rem;
  position: relative;
  top: -2px;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid #6f6f6f;
}

.perm_line h4 {
  display: inline;
  margin-right: 32px;
}

.perm_line > div {
  display: inline;
}

.perm_line .dd_cell:nth-child(3),
.perm_line .dd_cell:nth-child(6) {
  margin-right: 40px;
}

.perm_line.line2 {
  margin-top: 0px;
}
.perm_line.line2 h4 {
  margin-right: 32px;
  vertical-align: top;
}

.perm_line.line2 .lock {
  padding: 6px;
  cursor: pointer;
  position: relative;
  top: -12px;
}

.perm_wrapper .perm_cells {
  display: inline;
}

.drop {
  position: relative;
  width: 47px;
  height: 60px;
  /* background-color: #fb6161; */
  padding-top: 12px;

}

.dd_cell {
  display: inline-block;
  text-align: center;
  width: 47px;
  margin: 0 0;
}

.perm_line.line2 .dd_cell {
  position: relative;
  top: -12px;
  /* background-color: #f7a13f; */
}

.dd_txt {
  display: block;
  padding: 4px 7px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #efefef;
  width: 27px;
  margin: auto;
}

.dragging .dd_txt {
  background-color: transparent !important;
}

.dd_cell-draggable:hover span {
  background: #ccc;
}

.dd_cell-draggable {
  cursor: move;
}

svg {
  fill: #ccc;
}

#container {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 800px;
}
.taskInstructions {
  text-align: justify;
}
.taskInstructions table.pre {
  margin: 10px auto;
}
.taskInstructions table.pre td {
  padding: 4px 10px;
}
.taskInstructions .list-unstyled {
  padding-left: 30px;
}
.text-bold {
  font-weight: bold;
}
.taskWrapper .taskInstructions {
  padding-top: 30px;
  position: relative;
}
.topPlainWordContainer {
  margin: 10px 20px;
  height: 34px;
}
.topPlainWord {
  font-family: Lucida Console, Monaco, monospace;
  font-size: 18px;
  display: inline-block;
  margin-right: 20px;
  background-color: #fff;
  border: 1px solid #777;
  box-shadow: 3px 2px 3px #ccc;
  line-height: 27px;
  letter-spacing: 10px;
  padding-left: 5px;
}
.hintsDialog {
  width: 50%;
  max-width: 400px;
  background: #f0f0f0;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 1;
}
.hintsDialog p {
  margin-bottom: 5px;
}
.hintsDialog button + button {
  margin-left: 10px;
}
.keyTable {
  margin-top: 10px;
}
.keyTable span {
  width: 20px;
  display: inline-block;
  margin-right: 2px;
  text-align: center;
}
.keyTable span button {
  padding: 0;
  width: 100%;
  border: none;
}
.keyTable .keyValue {
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
.keyTable .keyValue.is-hint {
  border: none;
  cursor: default;
  font-weight: bold;
}
.keyTable .keyValue.is-hint-request {
  background: #000;
  color: #fff;
  font-weight: bold;
}
.is-hint-mismatch {
  background-color: #ff4444 !important;
}

.ciphersAndPlains {
  font-family: Lucida Console, Monaco, monospace;
  font-size: 18px;
}
.cipherTable {
  margin-top: 20px;
}
.plainTable {
  background: #efefef;
}
.ciphersAndPlains span {
  width: 20px;
  display: inline-block;
  margin-right: 2px;
  text-align: center;
  border: 1px solid #ccc;
  height: 27px;
  vertical-align: bottom;
}
.cipherTable span {
  border-bottom: none;
}
.plainTable span {
  border-top: none;
}
.plainTable .plainChar {
  background-color: #fff;
  box-shadow: 3px 2px 3px #ccc;
  border-top: 1px solid;
  border-color: #777;
  background-clip: content-box;
}
.plainChar + .plainChar {
  margin-left: -4px;
  border-left-color: transparent;
  width: 24px;
}
.inputError {
  border-color: red;
  box-shadow: 0 0 3px red inset;
}
/* .selectText {
    position: absolute;
    cursor: pointer;
}
.selectTextInner {
    background-color: #fff;
    border: 1px solid #acacac;
}
.selectText.selected .selectTextInner {
    background-color: #ccc;
}
.selectTextInner > span {
    position: absolute;
    text-align: center;
}
.selectText-rows .selectTextInner > span {
    top: -1px;
}
.selectText-columns .selectTextInner > span {
    left: -1px;
} */
.submitBlock,
.scoreBlock,
.feedbackBlock,
.saveBlock {
  display: inline-block;
  line-height: 34px;
  margin: 0 10px 0 0;
}
.taskHeader > *:last-child {
  margin: 0;
}
.scoreBlock,
.feedbackBlock {
  background: #f8f8f8;
  padding: 0 8px;
}
.feedbackBlock {
  cursor: pointer;
}
.search {
  border: 1px solid #000;
  padding: 5px 10px;
}
.search .search-box {
  margin-bottom: 10px;
}
.search .search-box .title {
  font-size: 20px;
}
.search .search-box .pattern {
  margin-left: 20px;
  width: 512px;
}
.search .search-box .occurrences {
  float: right;
}
.search .note {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search .note button {
  width: 100%;
  margin-bottom: 5px;
}

.highlight {
  border: 1.2px solid black;
  font-weight: 600;
  line-height: 1.25;
  filter: brightness(1.3);
  color: black;
}
.highlight-start {
  border-right: none;
}
.highlight-end {
  border-left: none;
}
.highlight-mid {
  border-left: none;
  border-right: none;
}

.group-color-caps {
  background-color: #fb6161 !important;
}

.group-color-star {
  background-color: #e4e73b !important;
}

.group-color-dot {
  background-color: #f7a13f !important;
}
.group-color-0 {
  background-color: #52ccee !important;
}
.group-color-1 {
  background-color: #f552a6 !important;
}
.group-color-2 {
  background-color: #ee5858 !important;
}
.group-color-3 {
  background-color: #a765f1 !important;
}
.group-color-4 {
  background-color: #5df3a0 !important;
}
::selection {
  background: #001beb; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #001beb; /* Gecko Browsers */
  color: white;
}
